@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roboto: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--roboto);
    margin: 0;
    padding: 0;
}

div {
    border: solid red 1px;
}

img {
    width: 4rem;
    height: 4rem;
}

.container {
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr 5fr;
}

.header {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 8rem 8rem/ 70rem 29rem;
}

.header div {
    display: flex;
    flex-flow: row wrap;
}

.searchbar {
    grid-row: 1/2;
    align-items: center;
    gap: 1rem;
}

.greeting {
    grid-row: 2/3;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

.notification {
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.actions-section {
    align-items: center;
    justify-content: space-around;
}

.sidebar {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 2fr 2fr;
}

.sidebar img {
    height: 3rem;
    width: 3rem;
}

.sidebar-header, 
.social-feature, 
.technical-feature,
.sidebar-header > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

.sidebar-header {
    align-items: flex-start;
}

.main-content {
    height: 70vh;
}